@if (currenciesList().length) {
  <section class="container">
   <div class="row">
    <div>
      From
      <app-currencies-list [currenciesList]="currenciesList()" (selectedCurrency)="onSelectCurrency($event, true)" />
      <app-currency-field [FormGroup]="currencyFromGroup" controlName="currencyToExchange" />
      <div>
        Current course: {{selectedCurrencies.from.value}}
      </div>
    </div>
    <div>
      To
      <app-currencies-list [currenciesList]="currenciesList()" (selectedCurrency)="onSelectCurrency($event)" />
      @if (!isLoading()) {
        <app-currency-field [FormGroup]="currencyFromGroup" controlName="exchangedCurrency" [isReadonly]="true" />
      } @else if(isError()) {
        <ng-template [ngTemplateOutlet]="error"></ng-template>
      } @else {
        <ng-template [ngTemplateOutlet]="loader"></ng-template>
      }
      <div>
        Current course: {{selectedCurrencies.to.value}}
      </div>
    </div>
   </div>

    <div class="row">
      <button (click)="onClickConvertCurrency()" [disabled]="checkIfDisabled()">
        Convert
      </button>
    </div>
  </section>
} @else if (isError()) {
  <ng-template [ngTemplateOutlet]="error"></ng-template>
} @else {
  <ng-template [ngTemplateOutlet]="loader">
  </ng-template>
}

<ng-template #loader>
  <p>loading...</p>
</ng-template>

<ng-template #error>
  <p>So sorry something went wrong</p>
</ng-template>